html, body {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	background-color: #eee;
	color: #444;
	font-size: 75%;
}

body.grass {
	background: url("../images/sweets.gif") repeat fixed;
}

a {
	color: #C61039;
	text-decoration: none;
}

a:focus, a:hover, a:active {
	text-decoration: none;
}

p, li {
	line-height: 1.8em;
}

h2 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	margin: 0 0 10px 0;
	letter-spacing: -1px;
}

ul#menu_list {
    text-align: center;
    display: block;
    list-style-type: disc;
}

ul#menu_list a {
	color: inherit;
}

ul#menu_list li {
    list-style: none;
    float: left;
   	font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 2em;
    margin-left: 15px;
    margin-right:15px;
    letter-spacing:5px;
}

h1 {
	font-family: "Arial Black", sans-serif;
	letter-spacing: -1px;
	font-size: 8em;
	color: #C61039;
}

h2 {
	padding-top: 10px;
	font-size: 2em;
}

pre {
	font-size: 1.2em;
	line-height: 1.2em;
	overflow-x: auto;
}

div#page {
	width: 890px;
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	border: 1px solid #ddd;
	border-top: medium none;
}

div#container {
    padding: 0 20px 20px;
}

div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
}

div#footer {
	clear: both;
	color: #777;
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
}

div#extra{
	float: left;
}