a, a:visited {
	color: #e56e06;
	cursor: pointer;
	outline:none;
}

#content h1, .heading {
	color: #e56e06;
	font-size: 14px;
	font-family: Verdana, sans-serif;
	letter-spacing:2px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
}

.menu ul li{
	font-family: arial, sans-serif !important;
}

#h_menu a {
	text-transform: lowercase !important;
}

.button {
	padding-left: 8px;
	display: inline-block;
	margin-right: 5px;
	text-decoration: none;
	background:#e56e06;
	color:#FFF;
}
.button span {
	color: #FFF;
	background:#e56e06;
	display: block;
	padding: 4px 12px 5px 5px;
}

h1 a {
	letter-spacing: 35px;
	font-family: arial, sans-serif;
	color: #e56e06;
	font-size: 110px;
	text-decoration:none;
}

.price {
	color: #e56e06;
	font-weight: bold;
}

body.category_background {
	background: url("../image/bg.jpg") repeat fixed;
}

#h_menu a:hover, .menu a:hover {
	color: #e56e06;
}
.top_header {
	background:url("../image/header.png") no-repeat 0 0;
}

#h_menu a {
	color: #444444;
}

#h_menu_selected a {
	font-weight:bold;
	color: #e56e06;
}

#jSuccess {
	border:1px solid #e56e06;
}